//ABSTRACT
@import './abstract/variables';
@import './abstract/mixins';

//COMPONENTS


//LAYOUT
@import './layout/header';
@import './layout/navigator';

//PAGES
@import './pages/login';


body{
    @include margin (0, 0, 0, 0);
    background-image: url('../assets/Background.png');
    background-size: 100vw 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}